<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Subi que te llevo</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/HomeController.js"></script>
    <script src="scripts/controllers/ProductController.js"></script>
    <script src="scripts/controllers/RidesController.js"></script>
</head>

<body ng-app="subiQueTeLlevoApp">

    <button id="menu-toggle" class="btn btn-dark glyphicon glyphicon-menu-hamburger"></button>
    <nav id="sidebar-wrapper" data-ng-controller="HomeController">
        <ul class="sidebar-nav">
            <button id="menu-close" class="btn btn-dark glyphicon glyphicon-menu-hamburger pull-right"></button>
            <li class="sidebar-brand"> Subi que te llevo! </li>
            <li>
                <a ng-click="goTo('#header')">{{user.email}}</a>
                <a ng-click="goTo('#header')">{{'HOME' | translate}}</a>
                <a ng-click="goTo('#routes')">{{'AVAILABLE_ROUTES' | translate}}</a>
                <a ng-click="goTo('#rides')">{{'MY_RIDES' | translate}}</a>
                <a ng-click="goTo('#rideRequests')">{{'MY_RIDE_REQUESTS' | translate}}</a>
                <a ng-click="goTo('#products')">{{'PRODUCTS' | translate}}</a>
                <a ng-click="setLanguage('es')">Español <img class="flag" src="images/argentinaFlag.png"></a>
                <a ng-click="setLanguage('en')">English <img class="flag" src="images/ukFlag.png"></a>
            </li>
        </ul>
    </nav>

    <div id="header" ng-include src="'templates/_home.html'"></div>

    <div id="routes" ng-include src="'templates/_availableRoutes.html'"></div>
    
    <div id="rides" ng-include src="'templates/_myRides.html'"></div>

    <div id="rideRequests" ng-include src="'templates/_rideRequests.html'"></div>

    <div ng-include src="'templates/_productsCrud.html'"></div>

    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
</body>

</html>