<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Subi que te llevo!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet"  href="../styles/style.css">
</head>

<body>
  <h3>Registration</h3>

  <form class="registration">
    <input type="text" placeholder="User name" required><br>
    <input type="text" placeholder="Email" required><br>
    <input type="checkbox" ng-click="selectDriver()"> Do you have a car and want to be a driver? Select if you do! <br>
    <select ng-show="isDriverSelected">
      <option value="" disabled selected>Select your vehicle type</option>
      <option value="volvo">Car</option>
      <option value="saab">Van</option>
    </select><br>
    <input type="number" ng-show="isDriverSelected" placeholder="Vehicle capacity"><br>

    <input type="submit" ng-click="createUser()" value="Register">
  </form>
</body>


</html>