<span class="text-vertical-center" data-ng-controller="HomeController">
    <span class="well well-lg">
        <h1>Subi que te llevo</h1>
        <br>
        <button class="btn btn-dark btn-lg" ng-show="showButtonsAccounts"
                ng-click="showRegisterForm()">{{'REGISTER' | translate}}</button>
        <button class="btn btn-dark btn-lg" ng-show="showButtonsAccounts"
                ng-click="showLoginForm()">{{'LOGIN' | translate}}</button>

        <form class="registration" ng-hide="register">
            <input type="text" ng-model="user.email" placeholder="{{'EMAIL' | translate}}" required><br>
            <input type="password" ng-model="user.password" placeholder="{{'PASSWORD' | translate}}" required><br>
            <input type="checkbox" ng-click="selectDriver()">{{'CHECKBOX_DRIVER' | translate}}<br>
            <select ng-show="isDriverSelected">
                <option disabled selected>{{'TYPE_VEHICLE' | translate}}</option>
                <option>{{'CAR' | translate}}</option>
                <option>{{'VAN' | translate}}</option>
            </select>
            <br>
            <input type="number" ng-show="isDriverSelected"  placeholder="{{'VEHICLE_CAPACITY' | translate}}"><br>
            <input type="submit" ng-click="createUser(user)"  value="{{'REGISTER' | translate}}">
            <input type="submit" ng-click="resetForm()"  value="{{'CANCEL' | translate}}">
        </form>

        <form class="registration" ng-hide="login">
            <input type="text" placeholder="Username or email" required><br>
            <input type="password" placeholder="{{'PASSWORD' | translate}}" required><br>
            <input type="submit" ng-click="loginUser(user)"  value="{{'LOGIN' | translate}}">
            <input type="submit" ng-click="resetForm()"  value="{{'CANCEL' | translate}}">
        </form>
    </span>
</span>