<div id="products" class="container" data-ng-controller="ProductController">
    <h3>{{'PRODUCTS' | translate}}</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" name="productSearch" ng-model="productFind" placeholder="Producto a buscar">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" ng-click="findProduct(productFind)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-info addProductBtn"  ng-show='isAdmin' ng-click="showProductForm()">
                {{'ADD_PRODUCT' | translate}}
            </button>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{'NAME' | translate}}</th>
                        <th>{{'STOCK' | translate}}</th>
                        <th>{{'PRICE' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tr data-ng-repeat="product in filteredAllProducts">
                    <td>{{product.name}}</td>
                    <td>{{product.stock}}</td>
                    <td>$ {{product.cost}}</td>
                    <td>
                      <button ng-show='isAdmin' ng-click="showEditForm(product)"
                              type="button" class="btn glyphicon glyphicon-edit">
                      </button>
                      <button ng-show='isAdmin' ng-click="deleteProduct(product)"
                              type="button" class="btn glyphicon glyphicon-trash">
                      </button>
                    </td>
                </tr>
            </table>
            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
            class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        </div>
        <div class="col-lg-6">
            <div ng-hide="hideProductForm" class="form-group">
                <form class="addProduct" name="productForm">
                    <h4>{{'ADD_PRODUCT' | translate}}</h4>
                    <div class="form-group" ng-class="{ 'has-error': productForm.productName.$invalid && productForm.productName.$dirty }" >
                      <input type="text" class="controls" name="productName" ng-model="productNew.name"
                             placeholder="Nombre" required>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': productForm.productStock.$invalid && productForm.productStock.$dirty }">
                      <input type="number" class="controls" name="productStock" placeholder="Cantidad"
                             ng-model="productNew.stock" required>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': productForm.productCost.$invalid && productForm.productCost.$dirty }" >
                      <input type="number" class="controls" name="productCost" placeholder="Precio"
                             ng-model="productNew.cost" required>
                    </div>
                    <button class="btn btn-danger productBtn" ng-click="resetProductForm()">
                      {{'CANCEL' | translate}}
                    </button>
                    <button ng-show='!editProduct' class="btn btn-success productBtn"
                            ng-click="saveProductForm(productNew)">
                      {{'SAVE' | translate}}
                    </button>
                    <button ng-show='editProduct' class="btn btn-success productBtn"
                            ng-click="editProductForm(productNew)">
                      {{'EDIT' | translate}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
