<div class="container" data-ng-controller="RidesController">
    <span class="col-md-6">
        <h3 id="myRoutes">{{'AVAILABLE_ROUTES' | translate}}</h3>
        <table class="table table-hover">
            <thead>
                <th>{{'DRIVER' | translate}}</th>
                <th>{{'FROM' | translate}}</th>
                <th>{{'TO' | translate}}</th>
                <th></th>
            </thead>
            <tbody>
              <tr data-ng-repeat="ride in filteredAllRides">
                <td>{{ride.driver.email}}</td>
                <td>{{ride.route.latitude}}</td>
                <td>{{ride.route.longitude}}</td>
                <td>
                  <button class="btn btn-dark" ng-click="joinRide(ride)">{{'JOIN' | translate}}</button>
                </td>
              </tr>
            </tbody>
        </table>
        <uib-pagination total-items="totalAllRidesItems" ng-model="currentPageAllRide"
                        ng-change="pageAllRidesChanged()"
                        class="pagination-sm" items-per-page="itemsPerPage">
        </uib-pagination>
    </span>
</div>

